@charset "UTF-8";


/* Color */

.text-red {color: #f00 !important;}
.text-green {color: #00b30d !important;}
.text-back {color: #000 !important;}
.text-white {color: #fff !important;}
.text-pointM {color: #0598ce !important;}
.text-pointD {color: #2982ae !important;}
.text-pointO {color: #e9af12 !important;}


.text-grey,
.text-grey:hover,
.text-grey:focus {
  color: #333333 !important;
}
.text-grey-300,
.text-grey-300:hover,
.text-grey-300:focus {
  color: #e2e3e4 !important;
}
.text-grey-400,
.text-grey-400:hover,
.text-grey-400:focus {
  color: #c1c2c4 !important;
}
.text-grey-600,
.text-grey-600:hover,
.text-grey-600:focus {
  color: #9fa1a4 !important;
}
.text-grey-700,
.text-grey-700:hover,
.text-grey-700:focus {
  color: #797a7d !important;
}
.text-grey-800,
.text-grey-800:hover,
.text-grey-800:focus {
  color: #333333 !important;
}
.bg-grey {
  background-color: #333333;
  border-color: #333333;
  color: #fff;
}
.bg-grey-100 {
  background-color: #fbfbfb;
  color: #444;
}
.bg-grey-200 {
  background-color: #f4f4f4;
  color: #444;
}
.bg-grey-300 {
  background-color: #efefef;
  color: #444;
}
.bg-grey-400 {
  background-color: #e6e6e6;
  color: #fff;
}
.bg-grey-600 {
  background-color: #dcdddd;
  color: #fff;
}
.bg-grey-700 {
  background-color: #d3d3d4;
  color: #fff;
}
.bg-grey-800 {
  background-color: #c9caca;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.border-grey {border: 1px solid #333333;}
.border-grey-200 {border: 1px solid #ddd;}
.border-grey-300 {border: 1px solid #e2e3e4;}
.border-grey-400 {border: 1px solid #c1c2c4;}
.border-grey-600 {border: 1px solid #9fa1a4;}
.border-grey-700 {border: 1px solid #797a7d;}
.border-grey-800 {border: 1px solid #333333;}
.border-bottom-grey {border-bottom: 1px solid #333333;}
.border-bottom-grey-200 {border-bottom: 1px solid #ddd;}
.border-bottom-grey-300 {border-bottom: 1px solid #e2e3e4;}
.border-bottom-grey-400 {border-bottom: 1px solid #c1c2c4;}
.border-bottom-grey-600 {border-bottom: 1px solid #9fa1a4;}
.border-bottom-grey-700 {border-bottom: 1px solid #797a7d;}
.border-bottom-grey-800 {border-bottom: 1px solid  #333333;}
.border-top-grey {border-top: 1px solid #333333;}
.border-top-grey-200 {border-top: 1px solid #ddd;}
.border-top-grey-300 {border-top: 1px solid #e2e3e4;}
.border-top-grey-400 {border-top: 1px solid  #c1c2c4;}
.border-top-grey-600 {border-top: 1px solid #9fa1a4;}
.border-top-grey-700 {border-top: 1px solid #797a7d;}
.border-top-grey-800 {border-top: 1px solid  #333333;}
.border-left-grey {border-left: 1px solid #333333;}
.border-left-grey-200 {border-left: 1px solid #ddd;}
.border-left-grey-300 {border-left: 1px solid #e2e3e4;}
.border-left-grey-400 {border-left: 1px solid #c1c2c4;}
.border-left-grey-600 {border-left: 1px solid #9fa1a4;}
.border-left-grey-700 {border-left: 1px solid #797a7d;}
.border-left-grey-800 {border-left: 1px solid #333333;}
.border-right-grey {border-right: 1px solid #333333;}
.border-right-grey-200 {border-right: 1px solid #ddd;}
.border-right-grey-300 {border-right: 1px solid #e2e3e4;}
.border-right-grey-400 {border-right: 1px solid #c1c2c4;}
.border-right-grey-600 {border-right: 1px solid #9fa1a4;}
.border-right-grey-700 {border-right: 1px solid #797a7d;}
.border-right-grey-800 {border-right: 1px solid #333333;}




.bg-primary {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #fff;
}
.bg-primary-300 {
  background-color: #64B5F6;
  border-color: #64B5F6;
  color: #fff;
}
.bg-primary-400 {
  background-color: #42A5F5;
  border-color: #42A5F5;
  color: #fff;
}
.bg-primary-600 {
  background-color: #1E88E5;
  border-color: #1E88E5;
  color: #fff;
}
.bg-primary-700 {
  background-color: #1976D2;
  border-color: #1976D2;
  color: #fff;
}
.bg-primary-800 {
  background-color: #1565C0;
  border-color: #1565C0;
  color: #fff;
}
.bg-danger {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff;
}
.bg-danger-300 {
  background-color: #E57373;
  border-color: #E57373;
  color: #fff;
}
.bg-danger-400 {
  background-color: #EF5350;
  border-color: #EF5350;
  color: #fff;
}
.bg-danger-600 {
  background-color: #E53935;
  border-color: #E53935;
  color: #fff;
}
.bg-danger-700 {
  background-color: #D32F2F;
  border-color: #D32F2F;
  color: #fff;
}
.bg-danger-800 {
  background-color: #C62828;
  border-color: #C62828;
  color: #fff;
}
.bg-success {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #fff;
}
.bg-success-300 {
  background-color: #81C784;
  border-color: #81C784;
  color: #fff;
}
.bg-success-400 {
  background-color: #66BB6A;
  border-color: #66BB6A;
  color: #fff;
}
.bg-success-600 {
  background-color: #43A047;
  border-color: #43A047;
  color: #fff;
}
.bg-success-700 {
  background-color: #388E3C;
  border-color: #388E3C;
  color: #fff;
}
.bg-success-800 {
  background-color: #2E7D32;
  border-color: #2E7D32;
  color: #fff;
}
.bg-warning {
  background-color: #FF5722;
  border-color: #FF5722;
  color: #fff;
}
.bg-warning-300 {
  background-color: #FF8A65;
  border-color: #FF8A65;
  color: #fff;
}
.bg-warning-400 {
  background-color: #FF7043;
  border-color: #FF7043;
  color: #fff;
}
.bg-warning-600 {
  background-color: #F4511E;
  border-color: #F4511E;
  color: #fff;
}
.bg-warning-700 {
  background-color: #E64A19;
  border-color: #E64A19;
  color: #fff;
}
.bg-warning-800 {
  background-color: #D84315;
  border-color: #D84315;
  color: #fff;
}
.bg-info {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff;
}
.bg-info-300 {
  background-color: #4DD0E1;
  border-color: #4DD0E1;
  color: #fff;
}
.bg-info-400 {
  background-color: #26C6DA;
  border-color: #26C6DA;
  color: #fff;
}
.bg-info-600 {
  background-color: #00ACC1;
  border-color: #00ACC1;
  color: #fff;
}
.bg-info-700 {
  background-color: #0097A7;
  border-color: #0097A7;
  color: #fff;
}
.bg-info-800 {
  background-color: #00838F;
  border-color: #00838F;
  color: #fff;
}
.bg-pink {
  background-color: #E91E63;
  border-color: #E91E63;
  color: #fff;
}
.bg-pink-300 {
  background-color: #F06292;
  border-color: #F06292;
  color: #fff;
}
.bg-pink-400 {
  background-color: #EC407A;
  border-color: #EC407A;
  color: #fff;
}
.bg-pink-600 {
  background-color: #D81B60;
  border-color: #D81B60;
  color: #fff;
}
.bg-pink-700 {
  background-color: #C2185B;
  border-color: #C2185B;
  color: #fff;
}
.bg-pink-800 {
  background-color: #AD1457;
  border-color: #AD1457;
  color: #fff;
}
.bg-violet {
  background-color: #9C27B0;
  border-color: #9C27B0;
  color: #fff;
}
.bg-violet-300 {
  background-color: #BA68C8;
  border-color: #BA68C8;
  color: #fff;
}
.bg-violet-400 {
  background-color: #AB47BC;
  border-color: #AB47BC;
  color: #fff;
}
.bg-violet-600 {
  background-color: #8E24AA;
  border-color: #8E24AA;
  color: #fff;
}
.bg-violet-700 {
  background-color: #7B1FA2;
  border-color: #7B1FA2;
  color: #fff;
}
.bg-violet-800 {
  background-color: #6A1B9A;
  border-color: #6A1B9A;
  color: #fff;
}
.bg-purple {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #fff;
}
.bg-purple-300 {
  background-color: #9575CD;
  border-color: #9575CD;
  color: #fff;
}
.bg-purple-400 {
  background-color: #7E57C2;
  border-color: #7E57C2;
  color: #fff;
}
.bg-purple-600 {
  background-color: #5E35B1;
  border-color: #5E35B1;
  color: #fff;
}
.bg-purple-700 {
  background-color: #512DA8;
  border-color: #512DA8;
  color: #fff;
}
.bg-purple-800 {
  background-color: #4527A0;
  border-color: #4527A0;
  color: #fff;
}
.bg-indigo {
  background-color: #3F51B5;
  border-color: #3F51B5;
  color: #fff;
}
.bg-indigo-300 {
  background-color: #7986CB;
  border-color: #7986CB;
  color: #fff;
}
.bg-indigo-400 {
  background-color: #5C6BC0;
  border-color: #5C6BC0;
  color: #fff;
}
.bg-indigo-600 {
  background-color: #3949AB;
  border-color: #3949AB;
  color: #fff;
}
.bg-indigo-700 {
  background-color: #303F9F;
  border-color: #303F9F;
  color: #fff;
}
.bg-indigo-800 {
  background-color: #283593;
  border-color: #283593;
  color: #fff;
}
.bg-blue {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff;
}
.bg-blue-300 {
  background-color: #4FC3F7;
  border-color: #4FC3F7;
  color: #fff;
}
.bg-blue-400 {
  background-color: #29B6F6;
  border-color: #29B6F6;
  color: #fff;
}
.bg-blue-600 {
  background-color: #039BE5;
  border-color: #039BE5;
  color: #fff;
}
.bg-blue-700 {
  background-color: #0288D1;
  border-color: #0288D1;
  color: #fff;
}
.bg-blue-800 {
  background-color: #0277BD;
  border-color: #0277BD;
  color: #fff;
}
.bg-teal {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
}
.bg-teal-300 {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
  color: #fff;
}
.bg-teal-400 {
  background-color: #26A69A;
  border-color: #26A69A;
  color: #fff;
}
.bg-teal-600 {
  background-color: #00897B;
  border-color: #00897B;
  color: #fff;
}
.bg-teal-700 {
  background-color: #00796B;
  border-color: #00796B;
  color: #fff;
}
.bg-teal-800 {
  background-color: #00695C;
  border-color: #00695C;
  color: #fff;
}
.bg-green {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #fff;
}
.bg-green-300 {
  background-color: #AED581;
  border-color: #AED581;
  color: #fff;
}
.bg-green-400 {
  background-color: #9CCC65;
  border-color: #9CCC65;
  color: #fff;
}
.bg-green-600 {
  background-color: #7CB342;
  border-color: #7CB342;
  color: #fff;
}
.bg-green-700 {
  background-color: #689F38;
  border-color: #689F38;
  color: #fff;
}
.bg-green-800 {
  background-color: #558B2F;
  border-color: #558B2F;
  color: #fff;
}
.bg-orange {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}
.bg-orange-300 {
  background-color: #FFB74D;
  border-color: #FFB74D;
  color: #fff;
}
.bg-orange-400 {
  background-color: #FFA726;
  border-color: #FFA726;
  color: #fff;
}
.bg-orange-600 {
  background-color: #FB8C00;
  border-color: #FB8C00;
  color: #fff;
}
.bg-orange-700 {
  background-color: #F57C00;
  border-color: #F57C00;
  color: #fff;
}
.bg-orange-800 {
  background-color: #EF6C00;
  border-color: #EF6C00;
  color: #fff;
}
.bg-brown {
  background-color: #795548;
  border-color: #795548;
  color: #fff;
}
.bg-brown-300 {
  background-color: #A1887F;
  border-color: #A1887F;
  color: #fff;
}
.bg-brown-400 {
  background-color: #8D6E63;
  border-color: #8D6E63;
  color: #fff;
}
.bg-brown-600 {
  background-color: #6D4C41;
  border-color: #6D4C41;
  color: #fff;
}
.bg-brown-700 {
  background-color: #5D4037;
  border-color: #5D4037;
  color: #fff;
}
.bg-brown-800 {
  background-color: #4E342E;
  border-color: #4E342E;
  color: #fff;
}
.bg-slate {
  background-color: #607D8B;
  border-color: #607D8B;
  color: #fff;
}
.bg-slate-300 {
  background-color: #90A4AE;
  border-color: #90A4AE;
  color: #fff;
}
.bg-slate-400 {
  background-color: #78909C;
  border-color: #78909C;
  color: #fff;
}
.bg-slate-600 {
  background-color: #546E7A;
  border-color: #546E7A;
  color: #fff;
}
.bg-slate-700 {
  background-color: #455A64;
  border-color: #455A64;
  color: #fff;
}
.bg-slate-800 {
  background-color: #37474F;
  border-color: #37474F;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333333;
}

/* table */
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #e2e3e4;
  }

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  border-top: 1px solid #e2e3e4;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #e2e3e4;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #e2e3e4;
}

.table-bordered {
  border: 1px solid #e2e3e4;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e2e3e4;
}


.border {border: 1px solid #ddd;}

.border-top {border-top: 1px solid #333333;}
.border-bottom {border-bottom: 1px solid #333333;}
.border-left {border-left: 1px solid #333333;}
.border-right {border-right: 1px solid #333333;}


.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f0f1f2;
}



.table > thead > tr > td.active2,
.table > tbody > tr > td.active2,
.table > tfoot > tr > td.active2,
.table > thead > tr > th.active2,
.table > tbody > tr > th.active2,
.table > tfoot > tr > th.active2,
.table > thead > tr.active2 > td,
.table > tbody > tr.active2 > td,
.table > tfoot > tr.active2 > td,
.table > thead > tr.active2 > th,
.table > tbody > tr.active2 > th,
.table > tfoot > tr.active2 > th {
  background-color: #e3d8d3;
}


.table-hoverDongbo > tbody > tr:hover > td{
  background-color: #fff; /*#f5f5f5;*/
  border-bottom: 1px solid #f00;
}

.table-hoverDongbo th {border-bottom: 3px solid #333;}


/*** special deal íƒ­ ***/

.nav-tabsSD {
  border-bottom: 1px solid #e60012;
}

.nav-tabsSD > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabsSD > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabsSD > li > a:hover {
  border-color: #eeeeee #eeeeee #e60012;
  color: #e60012;
}

.nav-tabsSD > li.active > a,
.nav-tabsSD > li.active > a:hover,
.nav-tabsSD > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e60012;
  border: 1px solid #e60012;
  border-bottom-color: transparent;
}



/*** etc ***/


.active2-bg {background: #f1ebe9;}
.btn-default {color: #333333 !important;}

.notConfirmed {color: #e60012;}
.news-bg {background: #f0f1f2;}
.title-groupName {color: #990F1B;}
/*a .title-groupName {color: inherit;}*/
.text-logout {color: #990F1B !important;}
.title-invoiceAlam {color: #990F1B !important;}
.invoiceAlam {color: #990F1B !important; font-weight: bold;}

.text-rBtNormal {color: #000 !important;}
.text-rBtPoint {color: #990F1B !important;}

.text-comment {color: #e4007f;}


/*** link *****/

a:link {color:inherit;text-decoration:none;}
a:visited {color:inherit;text-decoration:none;}
a:active {color:inherit;text-decoration:none;}
a:hover {color:#217896;text-decoration:none;}

.link a:link {color:#0598ce;text-decoration:none;}
.link a:visited {color:#0598ce;text-decoration:none;}
.link a:active {color:#0598ce;text-decoration:none;}
.link a:hover {color:#2982ae;text-decoration:none;}


.inherit {color: inherit !important;}


/*** button **/

.btn-black {
  color: #FFF !important;
  background-color: #333;
  border-color: #222;
}


.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #777;
  border-color: #666;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #333;
  border-color: #222;
}




.btn-jano {
  color: #FFF !important;
  background-color: #0598ce;
  border-color: #2982ae;
}


.btn-jano:hover,
.btn-jano:focus,
.btn-jano:active,
.btn-jano.active,
.open .dropdown-toggle.btn-jano {
  color: #fff;
  background-color: #07a3dc;
  border-color: #2e90c1;
}

.btn-jano:active,
.btn-jano.active,
.open .dropdown-toggle.btn-jano {
  background-image: none;
}

.btn-jano.disabled,
.btn-jano[disabled],
fieldset[disabled] .btn-jano,
.btn-jano.disabled:hover,
.btn-jano[disabled]:hover,
fieldset[disabled] .btn-jano:hover,
.btn-jano.disabled:focus,
.btn-jano[disabled]:focus,
fieldset[disabled] .btn-jano:focus,
.btn-jano.disabled:active,
.btn-jano[disabled]:active,
fieldset[disabled] .btn-jano:active,
.btn-jano.disabled.active,
.btn-jano[disabled].active,
fieldset[disabled] .btn-jano.active {
  background-color: #0598ce;
  border-color: #2982ae;
}
